# Steam Web API.  Visit https://steamcommunity.com/dev/apikey to generate your own.
set steam_webApiKey "9EB70B4B6F34DD3C81EE6E7E1BDEB8B0"


# You probably don't want to change these!
# Only change them if you're using a server with multiple network interfaces.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

start mapmanager
start chat
start esx_rpchat
start chat-theme-civlifechat
start spawnmanager
start sessionmanager
restart sessionmanager
start fivem
start hardcap
start rconlog
start baseevents
##start playernames##
start skinchanger
start ziv-loadscreen
start ReducedNPCs
start noplayerblips
start object-loader
start object-teleports
start IDsAboveHead
start fivem-ipl

###################### Disable Couchdb from essentialmode
set mysql_connection_string "server=127.0.0.1;database=essentialmode;userid=root"
set es_enableCustomData 1
set revengeanticheat.bypassenabled false
set revengeanticheat.updateidentifiers true
set tigoanticheat.VPNCheck


###################### libs
start mysql-async
start essentialmode
start es_ui
start es_admin2
start esplugin_mysql
start es_extended
start es_camera
start NativeUI
start FiveM_Queue
start bob74_ipl
start pTracker
start discord

###################### esx
start async
start cron
start rev_hud_ui
start esx_menu_default
start esx_menu_list
start esx_menu_dialog
start esx_addonaccount
start esx_billing
start esx_addoninventory
start esx_datastore
start esx_society
start esx_identity
start esx_status
start esx_thief
start esx_license
start esx_skin
start esx_vehicleshop
start esx_service
start esx_joblisting
start esx_holdup
start instance
start esx_scoreboard
start esx_advanced_inventory
start esx_property
start vdk_call
start esx_addons_gcphone
start gcphone
start esx_ambulancejob
start esx_policejob
start esx_weapons
start esx_weaponscomponents
start esx_weashopsplus
start esx_taxijob
start esx_jobs
start esx_revskin
start new_banking
start esx_boat
start esx_basicneeds
start esx_shops
start esx_newaccessories
start esx_barbershop
start idcard
start esx_lscustom
start esx_sit
start esx_extraitems
start esx_admin
start esx_optionalneeds
start esx_AdvancedFuel
start esx_animations
start esx_dmvschool
start esx_mecanojob
start esx_advancedgarage
start esx-qalle-sellvehicles
start esx_cruisecontrol
start esx_carwash
start esx_doorlock
start esx_vangelico_robbery
start esx_guy293_holsterweapon
start esx_inventoryhud
start esx_inventoryhud_glovebox
start esx_inventoryhud_trunk
start esx_shops
start rev_hud_ui
start esx_plasticsurgery
start zone
start esx_bag
start esx_knatusblowtorch
start esx_radars
start esx_duty
start mtracker
start mhacking
start esx_knatusrobberybank
start esx-qalle-jail
start esx_tattooshop
start esx_hospital
start esx_knatusrobberybank
start esx_carlock
start esx_drugeffects
start esx_sell
start ESX_CommunityService
start esx_drugs
start esx_jb_trailer
start esx_vehdoors
start esx-kr-vehicle-push
start esx_headbag
start esx_mafiajob
start esx_mara
start esx_mafiajob2
start esx_laywerjob
start esx_minerjob
start esx_sadyzcorp
start gopostal_job
start ESX_Gouvernor
start esx_prosegur
start esx_aiomenu
start esx_truckerjob
start esx_gaviria
start pxrp_vip
start esx_vehiclespawner
start ELS-FiveM
start esx_anticheat
start clothesmerfik

# NO ESX
start xgc-tunerchip
start pNotify
start PuertasHospital
start DamageWalkMode
start Hospital
start rev_notify
start afkkick
start PoliceVehiclesWeaponDeleter
start RealisticVehicleFailures
start vstancer
start qalle_coords
start crouch-n-prone
start Autos1
start Autos2
start Autos3
start Autos4
start Autos5
start Autos6
start Autos7
start Autos8
start Autos9
start Autos10
start Autos11
start policia
start handling
start InteractSound
start CarryPeople
start mellotrainer
start fivem-koil-golf
start polspeak
start grangeillegal
start FiveM-Point-finger
start 3dme
start WheelPackC
start replace
start kors
start LeaveEngineRunning
start vTow
start cartrailer
start Ropa
start Semaforos

# MAPAS
ensure lspdloader
ensure prison-map-addon #Prison
ensure SLBK11_MissionRow #LSPD
ensure nw_bahamaMama #Porte Bahama
ensure coloredhud #HUD Coloré Blips Armes Radio
ensure nw_mine
ensure mapbuilder
ensure streammap
ensure Arkadia_unicorn #Unicorn
ensure mappings
ensure Arkadia_medical #Hopital
ensure lsms #Hopital

## DiscordToFiveM Bot Password
add_ace resource.D2FiveM command allow

# Set this to 0 to disallow scripthook. Set it to 1 to make it easier to hack your server.
sv_scriptHookAllowed 0

# Uncomment this to enable RCON. Make sure to change the password.  You likely don't need this.
#rcon_password changeme

# Ace!
add_ace resource.essentialmode command.sets allow
add_ace resource.essentialmode command.add_principal allow
add_ace resource.essentialmode command.add_ace allow
add_ace group.admin command allow
add_ace group.admin command.quit deny
add_principal identifier.steam:11000010af8c996 group.admin # Add your admin's SteamID here.  This line can be duplicated for additional admins.
add_ace group.mod revengeanticheat.bypass allow
add_ace group.admin revengeanticheat.bypass allow
add_ace group.superadmin revengeanticheat.bypass allow
add_ace group.admin revengeanticheat.commands allow

#-----BANNER----#
sets banner_detail "https://imgur.com/B5y1lph"
#sets banner_connecting "http://url.to/image.png"
sets Discord "🔊 https://discord.gg/Z5X3q5N 🔊" 
sets tags "ARG, ESP , ROLEPLAY, RP, ARGENTINA"


# Set your server's hostname
sv_hostname "^1Revenge ^8Roleplay ^0- ^5Arg^0ent^5ina  ^0[^3Mafias^0]-[^8Autos reales^0]-[^3Llantas reales^0]-[^8Trabajos reales^0]-[^3Economía real^0]-[^8Ropa real^0]"

# Load a server icon (96x96 PNG file)
load_server_icon revenge96x96.png

# Uncomment this line if you do not want your server to be listed in the server browser.
#sv_master1 ""

# Want to only allow players authenticated with a third-party provider like Steam?
# Don't forget Social Club is a third party provider too!
sv_authMaxVariance 1
sv_authMinTrust 5

# Hide player endpoints in external log output.
sv_endpointprivacy true

# Server player slot limit
sv_maxclients 64

# License key for your server (https://keymaster.fivem.net)
sv_licenseKey w7661cisss8m7xyznfjf967npob2hxj8

restart sessionmanager

